header {
    position: fixed;
    top: 0px;
    width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/skyline.jpg")
}

.menu {
  padding-top: 50px;
  margin: auto;
  width: 50%;
}

#map {
    margin: auto;
    margin-top: 10px;
    height: 75%;
    width: 60%;
    position: relative;
}
